<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <link rel="stylesheet" href="/static/style.css"/>
    <script src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <form>
      <select name="target" id="target">
      </select>
      <select name="statistic" id="statistic">
        <option value="STATISTIC_SERVER_SIDE_BYTES_IN">SERVER_SIDE_BYTES_IN</option>
        <option value="STATISTIC_SERVER_SIDE_BYTES_OUT">SERVER_SIDE_BYTES_OUT</option>
        <option value="STATISTIC_SERVER_SIDE_PACKETS_IN">SERVER_SIDE_PACKETS_IN</option>
        <option value="STATISTIC_SERVER_SIDE_PACKETS_OUT">SERVER_SIDE_PACKETS_OUT</option>
        <option value="STATISTIC_SERVER_SIDE_CURRENT_CONNECTIONS">SERVER_SIDE_CURRENT_CONNECTIONS</option>
        <option selected="selected" value="STATISTIC_SERVER_SIDE_MAXIMUM_CONNECTIONS">SERVER_SIDE_MAXIMUM_CONNECTIONS</option>
        <option value="STATISTIC_SERVER_SIDE_TOTAL_CONNECTIONS">SERVER_SIDE_TOTAL_CONNECTIONS</option>
        <option value="STATISTIC_PVA_SERVER_SIDE_BYTES_IN">PVA_SERVER_SIDE_BYTES_IN</option>
        <option value="STATISTIC_PVA_SERVER_SIDE_BYTES_OUT">PVA_SERVER_SIDE_BYTES_OUT</option>
        <option value="STATISTIC_PVA_SERVER_SIDE_PACKETS_IN">PVA_SERVER_SIDE_PACKETS_IN</option>
        <option value="STATISTIC_PVA_SERVER_SIDE_PACKETS_OUT">PVA_SERVER_SIDE_PACKETS_OUT</option>
        <option value="STATISTIC_PVA_SERVER_SIDE_CURRENT_CONNECTIONS">PVA_SERVER_SIDE_CURRENT_CONNECTIONS</option>
        <option value="STATISTIC_PVA_SERVER_SIDE_MAXIMUM_CONNECTIONS">PVA_SERVER_SIDE_MAXIMUM_CONNECTIONS</option>
        <option value="STATISTIC_PVA_SERVER_SIDE_TOTAL_CONNECTIONS">PVA_SERVER_SIDE_TOTAL_CONNECTIONS</option>
        <option value="STATISTIC_TOTAL_REQUESTS">TOTAL_REQUESTS</option>
        <option value="STATISTIC_TOTAL_PVA_ASSISTED_CONNECTIONS">TOTAL_PVA_ASSISTED_CONNECTIONS</option>
        <option value="STATISTIC_CURRENT_PVA_ASSISTED_CONNECTIONS">CURRENT_PVA_ASSISTED_CONNECTIONS</option>
      </select>
      <input type="button" value="Render selection" onclick="get_and_render_partition();"/>
    </form>
    <div id="details">
      <span id="nodename"></span>
    </div>
    <div id="svgcontainer">

    </div>
  </body>
  <script src="/static/render_partition.js"></script>
</html>
